extends layout.pug

block content
 script(type="module" src="/javascripts/createLibrary.js")
 link(rel='stylesheet' href='/stylesheets/index.css')
 ul TRACK LIST
   each track in trackList
    li= track

 ul REVIEWS
   each review in reviews
    li= review.title
      p= review.content
      p= `${review.rating}/5`
 div.add-library-container
  label 
  select
    each library in libraries 
      option= library.name
 #input-container
  button(id="create-library") Add Library
  form(action="/libraries/new" method="post" class="hidden" id="library-form")
    input(type='text' class="hidden" value=album.id name="albumId")
    input(type="hidden" name="_csrf" value=csrfToken)
    label Library name 
    input(type="text" name="name")
    button(id="add") Add 
    button(id="cancel") Cancel


