html
  head
   link(rel="stylesheet" href="../stylesheets/albums_page.css")
  body
    h1= album.title
    ol#tracklist TRACK LIST
      each track in trackList
        li= track


block content
 script(type="module" src="/javascripts/createLibrary.js")
 script(type="module" src="/javascripts/addAlbumsToLibrary.js")

 link(rel='stylesheet' href='/stylesheets/index.css')

 div.add-library-container
  label
  select(id='libraryName')
    each library in libraries
      option(value=library.id)= library.name
  button(id="addAlbum") Add Album


 #input-container
  button(id="create-library") Create New Library
  form(action="/libraries/new" method="post" class="hidden" id="library-form")
    input(id='albumId' type='text' class="hidden" value=album.id name="albumId")
    input(type="hidden" name="_csrf" value=csrfToken)
    label Library name
    input(type="text" name="name")
    button(id="add") Add
    button(id="cancel") Cancel


 .reviews-container REVIEWS
      a(href=`/albums/${album.id}/reviews/new`) Write a Review
      each review in reviews
        div(id=`review_${review.id}`)
        div(id=`review_header_${review.id}`)= review.title
          span= `${review.rating}/5`
        div(id=`review_content_${review.id}`)= review.content
