extends layout.pug

block content
    //- title= `${library.name}`
    link(rel='stylesheet' href='/stylesheets/library.css')
    script(src="/javascripts/deleteAlbum.js" type="module")
    script(src="/javascripts/editLibrary.js" type="module")
    input(type='hidden' value= library.id id='libraryId')
    div(id='titlelib')
        input(type="hidden" id="idGrabber" value=library.User.username)
        h1#heading= `${library.User.username}'s ${library.name} Library`
        div#editbuttondiv
            button(id='edit' value=library.id) Edit Library Name
            button(id='delete' value=library.id) Delete Library
        form(action=`/libraries/${library.id}` class="hidden" id="edit-library-form")
            label New library name:
            input(type="text" id="new-name" value=library.name)
            button(id='save' value=library.id) Save
            button(id='cancel') Cancel
        input(type='hidden' value= library.id id='libraryId')
        h2#h2 Albums
        if (allAlbums.length<1)
            h2 NO ALBUMS IN THIS LIBRARY
        ol#listofalbums
            #listdiv
                each album in allAlbums
                    .album-library-card(id=`library-card-${album.id}`)
                        p= album.title
                        a(href=`/albums/${album.id}`)
                            img(id="library-album-img" src=`../albumImgs/${album.id}.jpg`)
                        p= album.artist
                        button(class='deleteButton' value=album.id) Delete
    include footer.pug
