extends layout.pug
block content
  link(rel="stylesheet" href="/stylesheets/editReview.css")
  .form-edit-container
    form(action=`/albums/${album.id}/reviews/${reviewId}` method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      .edit-review-title-rating
        .edit-review-title
          label Title
          input(id="edit-review-title-input" type="text" name="title" value= reviewEdit.title required)
        .edit-review-rating
          label Rating
          select(name="rating" value= reviewEdit.rating required)
            option(value=reviewEdit.rating)= `Current Rating is ${reviewEdit.rating}`
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4
            option(value='5') 5
      .edit-review-content
        label Content
        textarea(id="edit-review-content-area" name="content", cols="30" rows="10")= reviewEdit.content
      .edit-review-submit-cancel
        .edit-review-button
          button(type='submit' id='edit') Submit Edit
        .edit-review-cancel
          a(href=`/albums/${album.id}`) Cancel
  include footer.pug
